.select2-container {
  margin-bottom: 10px;
  font-family: "Scania Sans Condensed";
}

.select2-container.select2-container-disabled .select2-choice {
    opacity: 0.3;
    background-color: #bcbcbc;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    opacity: 0.45;
    background-color: #bcbcbc;
    background-image: none;
    border-left: 0;
}

.select2-container .select2-choice {
    height: 63px;
    padding: 0 0 0 20px;
    border: none;
    white-space: nowrap;
    line-height: 62px;
    color: #444;
    border-radius: 0px;
    background: #f5f5f5;
    // background-color: #f5f5f5;
    background-image: none;
}

.app .select2-container .select2-choice {
  height: 46px;
  padding: 0 0 0 10px;
  line-height: 50px;
}

.app header.c-page-header .select2-container .select2-choice {
    background-color: #FFF;
}

.compact .select2-container .select2-choice {
  height: 34px;
  padding: 0 0 0 10px;
}

.select2-container .select2-choice > .select2-chosen {
  color: #999;
  float: left;
}
.select2-container .select2-choice .select2-arrow b {
  display: none;
}
.select2-container .select2-choice .select2-arrow {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzOTUgNzM2cTAgMTMtMTAgMjNsLTQ2NiA0NjZxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNTAtNTBxMTAtMTAgMjMtMTB0MjMgMTBsMzkzIDM5MyAzOTMtMzkzcTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
  width: 20%; 
  color: #747472;
  background-position: center center;
  background-size: 40px;
  background-repeat: no-repeat;
  outline: none;
  padding: 0;
  border-color: #ccc;
  border-radius: 0px;
  font-family: "Scania Sans Condensed", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-left: none;
}

.app .select2-container .select2-choice .select2-arrow {
  width: 15%; 
  background-size: 27px;
}

.compact .select2-container .select2-choice .select2-arrow {
  width: 10%; 
  background-size: 20px;
}
.select2-container.select2-drop-above .select2-choice {
  border-radius: 0 0 0px 0px;
  background-image: none;
}
.select2-container.select2-drop-above .select2-choice header.c-page-header {
  background-color: #FFFFFFFF;
}
.select2-drop {
  margin-top: 5px;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #f5f5f5;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
}
.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
  
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
}
.select2-search {
    border-top: none;
    border-bottom: 2px solid rgb(240, 240, 240);
    background-image: none;
    padding: 10px;
}
.compact .select2-search {
    padding: 1px;
}
.app .select2-search {
    padding: 7px;
}
.select2-search input {
  width: auto;
  min-height: 26px;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: 0;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  outline: none;
  background-color: #eeeeee;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-dropdown-open .select2-choice {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid rgb(74, 139, 164);
  background-color: #f5f5f5;
  background-image: none;
}

.app header.c-page-header.select2-container .select2-choice {
   background: #FFFFFF; 
}

.select2-dropdown-open .select2-choice .select2-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzOTUgMTE4NHEwIDEzLTEwIDIzbC01MCA1MHEtMTAgMTAtMjMgMTB0LTIzLTEwbC0zOTMtMzkzLTM5MyAzOTNxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNTAtNTBxLTEwLTEwLTEwLTIzdDEwLTIzbDQ2Ni00NjZxMTAtMTAgMjMtMTB0MjMgMTBsNDY2IDQ2NnExMCAxMCAxMCAyM3oiLz48L3N2Zz4=);
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  display: none;
}
.select2-result-selectable{
  border-bottom: 2px solid rgb(240, 240, 240);
  padding: 10px;
}
.select2-result-selectable:first-child {
  padding: 10px;
}

.select2-results {
  margin: 0px;
  font-family: "Scania Sans Condensed";
  padding: 0px;
  color: #999;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-overflow-style: none;
}

.select2-results::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.app .select2-results {
  margin: 0px;
  padding: 0px;
}
.compact .select2-results {
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
}
.select2-results .select2-selected {
  display: none;
}
.select2-results .select2-highlighted {
  background: #f5f5f5;
  color: #444;
}
.select2-container-multi .select2-choices {
  padding: 0 0 0 20px;
  margin: 0;
  position: relative;
  color: #444;
  border: none;
  overflow: hidden;
  background-image: none;
  background-color: #f5f5f5;
}

.app .select2-container-multi .select2-choices {
  padding: 0 0 0 10px;
  line-height: 50px;
}
.compact .select2-container-multi .select2-choices {
  padding: 0 0 0 10px;
}

.select2-container-multi .select2-choice .select2-choices {
  height: 63px;
  padding: 3px 0 0 8px;
  margin: 0;
  position: relative;
  color: #444;
  border: 4px solid red;
  overflow: hidden;
  background-image: none;
  background-color: #f5f5f5;
}

header.c-page-header .select2-container-multi .select2-choices {
  background-color: #FFFFFF;
}

header.c-page-header .app .select2-container-multi .select2-choices {
  background-color: #FFFFFF;
}

header.c-page-header .compact .select2-container-multi .select2-choices {
  background-color: #FFFFFF;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header.c-page-header .select2-container-multi.select2-container-active .select2-choices {
  background-color: #FFFFFF;
}
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
header.c-page-header .select2-container-multi .select2-choices .select2-search-field {
  background-color: #FFFFFF;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 4px 0px;
  font-family: "Scania Sans Condensed";
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  background-image: none;
  box-shadow: none;
  background: transparent !important;
  -webkit-box-shadow: none;
}

.app .select2-container-multi .select2-choices .select2-search-field input {
  padding: 0px;
  margin: 0px 0px;
}

.compact .select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 4px 0px;
  font-size: 70%;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 14px 15px 15px 25px;
  margin: 15px 7px 3px 1px;
  font-family: "Scania Sans Condensed";
  background-color: #FFFFFF;
  font-size: 17px;
  position: relative;
  line-height: 6px;
  color: #333;
  border: none;
  border-radius: 3px;
  background-image: none;
}


.app .select2-container-multi .select2-choices .select2-search-choice {
  padding: 14px 15px 15px 25px;
  margin: 5px 0px 0px 5px;
  font-size: 16px;
  line-height: 6px;
}

.compact .select2-container-multi .select2-choices .select2-search-choice {
  padding: 8px 10px 9px 20px;
  margin: 5px 0 0px 5px;
  font-size: 12px;
}

.select2-container-active .select2-choice, 
.app .select2-container-active .select2-choice, 
.select2-container-active .select2-choices,
.compact .select2-container-active .select2-choice, 
.app .select2-container-active .select2-choices,
.compact .select2-container-active .select2-choices,

 {
    border: 1px solid rgb(74, 139, 164);
    background: rgb(242, 247, 249);
}

.select2-container .select2-choice abbr {
   right: 22%;
   top: 40%;
}

.app .select2-container .select2-choice abbr {
    right: 15%;
    top: 35%;
}

.compact .select2-container .select2-choice abbr {
    right: 15%;
    top: 30%;
}

.select2-container .select2-choice:focus {
  outline: none;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMi4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGFnZXJfMTMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNTYgMjU2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+Cjxwb2x5Z29uIHN0eWxlPSJmaWxsOiMwNDFFNDI7IiBwb2ludHM9IjE4Ny41MzUsNzUuNTU2IDE4MC40NjUsNjguNDgzIDEyNy45OTIsMTIwLjk0NCA3NS41MzIsNjguNDcyIDY4LjQ2LDc1LjU0MiAxMjAuOTIsMTI4LjAxNCAKCTY4LjQ0OCwxODAuNDc1IDc1LjUxOSwxODcuNTQ3IDEyNy45OTEsMTM1LjA4NiAxODAuNDUxLDE4Ny41NTkgMTg3LjUyMywxODAuNDg4IDEzNS4wNjMsMTI4LjAxNiAiLz4KPC9zdmc+Cg==');
  background-position: center center;
  background-size: 27px;
  background-repeat: no-repeat;
  left: 6px;
  top: 10px;
}

.app .select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
  background-size: 27px;
  left: 8px;
  top: 10px;
}

.compact .select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
  background-size: 19px;
  left: 4px;
  top: 4px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  opacity: 0;
}
header.c-page-header .select2-container-multi .select2-choices .select2-search-choice {
  background-color: #f5f5f5;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border: none;
    margin-top: -5px;
}

.select2-display-none {
  display: none;
}

.app table .select2-container .select2-choice,
.compact .select2-container .select2-choice {
  height: 30px;
  line-height: 32px;
  font-size: 12px;
  margin-bottom: 0px;
  background: #f5f5f5;
}

table .select2-container .select2-choice .select2-arrow {
  width: 17%;
}

.select2-search > .scania-icon-search ~ input[type="text"] {
  width: 80%;
}

 .form-control.select2-container  {
   padding: 0;
 }

 .app .form-control.select2-container  {
   padding: 0;
 }

 .compact .form-control.select2-container  {
   padding: 0;
 }

 .app table .form-control.select2-container  {
   padding: 0;
 }